.App {
  text-align: center;
}

.executor-status-running {
  color: green;
}

.executor-status-stopped {
  color: gray;
}

.executor-status-lost {
  color: red;
}

.report-type-info {
  color: green;
}

.report-type-error {
  color: red;
}

.detail-header {
  text-align: left;
  padding: 5px;
  font-size: 1em;
  background-color: #E5E5E5;
}

.detail-value {
  text-align: left;
  padding: 5px;
}
